<style>
     .alert {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .alert.error {
        background-color: #f44336;
        color: #ffffff;
    }
    .table td, .table th {
         padding: 0.1em 0.5em;
    }
</style>
<title>Moods | Page</title>
<body>
    <% if ( typeof req.query.msg !=='undefined') { %>
        <div class="alert error" id="alert-message">
        <p><%= req.query.msg%></p>
        </div>
    <% } %>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                    Create Mood
                    </p>
                </header>
                <div class="card-content">
                    <form action="/mood/create-new-mood" method="POST">
                    <div class="field">
                        <label class="label">Date</label>
                        <div class="control">
                        <input class="input" type="date" name="date" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Mood</label>
                        <div class="control">
                            <div class="select">
                                <select name="mood" required>
                                    <option value="">Select Mood</option>
                                    <option value="Happy">Happy</option>
                                    <option value="Angry">Angry</option>
                                    <option value="Sad">Sad</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Note</label>
                        <div class="control">
                        <textarea class="textarea" name="note" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                        <button class="button is-primary"><span class="icon"><i class="fas fa-plus"></i></span><span>Create Mood</span></button>
                        </div>
                        <div class="control">
                        <a href="/mood/all-moods" class="button is-link"><span class="icon"><i class="fas fa-arrow-left"></i></span><span>Back</span></a>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
       <div class="container" style="display: flex;text-align: center;justify-content: center;flex-direction: column;">
        <h1 class="title">All Moods</h1>
        <% if (moods.length === 0) { %>
          <p class="alert error">No moods found.</p>
        <% } else { %>
        <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Mood</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
            
                <% for(mood of moods) { %>
                <tr>
                  <td><%= mood.date.toDateString() %></td>
                  <td><%= mood.mood %></td>
                  <td><%= mood.note %></td>
                  <td>
                    <form method="POST" action="/mood/delete-mood/<%= mood._id %>?_method=DELETE">
                      <button class="button is-danger is-outlined" type="submit">
                        <span class="icon is-small">
                          <i class="fas fa-trash-alt"></i>
                        </span>
                      </button>
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
        </table>
        <% } %>
      </div>
    </section>
    <script>
        setTimeout(()=>{
          document.getElementById('alert-message').style.display = 'none';
        },5000);
    </script>
</body>